Battery Requirements Operational
EOL - End Of Life

1. The Battery shall provide the spacecraft with power.
2. The Battery shall be rechargeable.
3. The Battery shall be operational for 10 years.
4. The Battery shall have a kill switch for EOL.